* {
    box-sizing: border-box;
  }
.container-header {
    max-width: 1440px;
    margin: 0 auto;
    border: solid 1px crimson;
    background-color: #000000;
    background: url(assets/img/bg.jpg);
    min-width: 1440px;
    min-height: 910px;
    max-width: 1440px;
    max-height: 910px;
    left: 0px;
    top: 0px;
}

.header {
    display: flex;
    max-width: 1440px;
    max-height: 90px;
    border: solid 1px crimson;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 20px 0px 20px 20px;
    border: solid 1px crimson;
}

.nav {
    align-items: center;
    min-width: 500px;
    min-height: 50px;
    max-width: 500px;
    max-height: 50px;
    display: flex;
    justify-content: flex-end;
    border: solid 1px crimson;
    list-style: none;
    margin: 20px 0px 20px 780px; 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;     
}

.navigation {
    list-style: none;
    display: flex;
        
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.li1 {
    padding: 0px 30px 0px 30px;
    
}

.li2 {
    padding: 0px 30px 0px 0px;
}

.li3 {
    padding: 0px 30px 0px 0px;
}

.li4 {
    padding: 0px 30px 0px 0px;
}

.li5 {
    padding: 0px 30px 0px 0px;
}

.switch-lng {
    min-width: 70px;
    min-height: 50px;
    border: solid 1px crimson;
    margin: 20px 20px 20px 0px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    justify-content: stretch;
    align-content: center;
    display: inline-flex;         
}

.lang {
    padding: 12px 9px 15px 0px;
    max-height: 20px;    
}

.slash {
    padding: 12px 9px 15px 0px;
    max-height: 20px;       
}

.lang2 {
    padding: 12px 0px 15px 0px;
    max-height: 20px;
}

.hero {
    min-width: 500px;
    min-height: 330px;
    max-width: 500px;
    max-height: 330px;
    margin: 160px 860px 330px 80px;
    border: solid 1px crimson;
}

.hero-title {
    min-width: 500px;
    min-height: 120px;
    max-width: 500px;
    max-height: 120px;
    border: solid 1px crimson;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Merriweather', serif;
    font-size: 60px;
    align-items: center;
    display: flex;

}

h1 {
    font-size: 100%;

}

.hero-text {
    min-width: 470px;
    min-height: 120px;
    max-width: 470px;
    max-height: 120px;
    margin: 0px 30px 0px 0px;
    border: solid 1px crimson;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    padding: 10px 0px 0px 0px;
}

.button {
    min-width: 220px;
    max-width: 220px;
    min-height: 55px;
    max-height: 55px;
    margin: 37px 280px 0px 0px; 
    border: solid 1px crimson;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #bdae82;
}
.container-main {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    border: solid 1px crimson;
    background-color: #000000;
  }

.skills-title {
    background: url(assets/img/line.png);
    min-width: 700px;
    min-height: 80px;
    max-width: 700px;
    max-height: 80px;
    border: solid 1px crimson;
    margin: 100px 370px 60px 350px;
    display: flex;
    justify-content: center;
}

.title-itself {
    color: #bdae82;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 700;
    background-color: #000000;
    border: solid 1px yellow;
    min-width: 152px;
    min-height: 80px;
    max-width: 152px;
    max-height: 80px;
    display: flex;
    justify-content: center;
}


h2 {
    font-size: 100%;

}

.h2skills {
    margin: 15px 20px 25px 20px;
    border: solid 1px crimson;
}

.skills-items {
    border: solid 1px crimson;
    min-width: 1400px;
    min-height: 242px;
    max-width: 1400px;
    max-height: 242px;
    margin: 0px 20px 0px 0px;
    display: flex;
}

.skills-photo {
    border: solid 1px crimson;
    min-width: 320px;
    min-height: 240px;
    max-width: 320px;
    max-height: 240px;
    margin: 1px 20px 1px 0px;
    display: flex;
    flex-direction: column;
}

.ph-icon {
    border: solid 1px crimson;
    min-width: 62px;
    min-height: 50px;
    max-width: 62px;
    max-height: 50px;
    margin: 0px 129px 0px 129px;
}

.ph-name {
    border: solid 1px crimson;
    min-width: 280px;
    min-height: 40px;
    max-width: 280px;
    max-height: 40px;
    margin: 49px 20px 0px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
  
}

.ph-text {
    
    min-width: 280px;
    min-height: 72px;
    max-width: 280px;
    max-height: 72px;
    margin: 20px 20px 8px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.ph1 {
    
    max-height: 36px;
    text-align:start;

}

.ph2 {
    border: solid 1px crimson;
    max-height: 36px;
    text-align: center;

}

.skills-video {
    border: solid 1px crimson;
    min-width: 320px;
    min-height: 240px;
    max-width: 320px;
    max-height: 240px;
    margin: 1px 20px 1px 20px;
}

.vid-icon {
    border: solid 1px crimson;
    min-width: 60px;
    min-height: 50px;
    max-width: 60px;
    max-height: 50px;
    margin: 0px 130px 0px 130px;
}

.vid-name {
    border: solid 1px crimson;
    min-width: 280px;
    min-height: 40px;
    max-width: 280px;
    max-height: 40px;
    margin: 49px 20px 0px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.vid-text {
    border: solid 1px crimson;
    min-width: 280px;
    min-height: 72px;
    max-width: 280px;
    max-height: 72px;
    margin: 20px 20px 8px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
}

.skills-retouch {
    border: solid 1px crimson;
    min-width: 320px;
    min-height: 240px;
    max-width: 320px;
    max-height: 240px;
    margin: 1px 20px 1px 20px;
}

.ret-icon {
    border: solid 1px crimson;
    min-width: 66px;
    min-height: 50px;
    max-width: 66px;
    max-height: 50px;
    margin: 0px 127px 0px 127px;
}

.ret-name {
    border: solid 1px crimson;
    min-width: 280px;
    min-height: 40px;
    max-width: 280px;
    max-height: 40px;
    margin: 49px 20px 0px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.ret-text {
    border: solid 1px crimson;
    min-width: 280px;
    min-height: 72px;
    max-width: 280px;
    max-height: 72px;
    margin: 20px 20px 8px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
}

.skills-audio {
    border: solid 1px crimson;
    min-width: 320px;
    min-height: 240px;
    max-width: 320px;
    max-height: 240px;
    margin: 1px 0px 1px 20px;
}

.aud-icon {
    border: solid 1px crimson;
    min-width: 32px;
    min-height: 50px;
    max-width: 32px;
    max-height: 50px;
    margin: 0px 144px 0px 144px;
}

.aud-name {
    border: solid 1px crimson;
    min-width: 280px;
    min-height: 40px;
    max-width: 280px;
    max-height: 40px;
    margin: 49px 20px 0px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.aud-text {
    border: solid 1px crimson;
    min-width: 280px;
    min-height: 72px;
    max-width: 280px;
    max-height: 72px;
    margin: 20px 20px 8px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
}

.portfolio-title {
    background: url(assets/img/line.png);
    min-width: 700px;
    min-height: 80px;
    max-width: 700px;
    max-height: 80px;
    border: solid 1px crimson;
    margin: 100px 370px 60px 350px;
    display: flex;
    justify-content: center;
}

.port-tit-itself {
    color: #bdae82;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 700;
    background-color: #000000;
    border: solid 1px yellow;
    min-width: 220px;
    min-height: 80px;
    max-width: 220px;
    max-height: 80px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 100%;

}

.h2portfolio {
    margin: 15px 20px 25px 20px;
    border: solid 1px crimson;
}

.container-footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    border: solid 1px crimson;
    background-color: #000000;
  }

.all {
    background-color: #000000;
    background-size: 100%;
}