* {
    box-sizing: border-box;
   
}

html {
    
    height: 100%;
}

body {
    background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-color: rgb(219, 214, 214);
    width: 100vw;
    height: 100vh;
    margin: auto;
    max-width: 1200px;
    overflow-x: hidden;
    
} 

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #000000;
}

main {
    height: 85%;
    width: 100%;
}

footer {
    height: 10%;
    width: 100%;
}
.wrapper-main {
    background-color:rgb(219, 214, 214);
    margin: auto;
    background-image: url(assets/img/wp6085224.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    width: 100%;
    height: 100%;
    background-origin: content-box;
    
}

.header {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Creepster', sans-serif;
}

.subtitle {
    font-family: 'Black Ops One', sans-serif;
    font-weight: 100;
    margin-left: 17%;
    font-size: 25px;
    margin-top: 0;
    padding-top: 0;
}

.title {
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 30px;
    color: rgb(201, 10, 10);
    -webkit-text-stroke: 1px  #000000;

}

.gameplay-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 75%;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 8%;
    padding-left: 25%;
    padding-right: 24%;
    min-width: 300px;
    padding-bottom: 2%;
    z-index: 87;
    padding-top: 2%;
}

.gameplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    min-width: 300px;
    opacity: 0;
    transition: 3s;
    position: relative;
    z-index: -100;
    
    
}

.gameplay.open {
    opacity: 1;
    transition: 3s;
    perspective: 1000px;
    position: relative;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    display: block;
    object-fit: cover;
    transform-style: preserve-3d; 
    transition: 1s;  
}

.card.open {
    transform: rotateY(180deg);
}
.cover {
    height: 100px;
    width: 100px;
    padding-bottom: 15%;
    padding-right: 15%;
    border-radius: 32px;
    cursor: pointer;
    z-index: 90;
    position: absolute;
    transition: 2s;
    backface-visibility: hidden;
}

.killer {
    height: 100px;
    width: 100px;
    padding-bottom: 15%;
    padding-right: 15%;
    border-radius: 32px;
    cursor: pointer;
    z-index: -90;
    transition: 2s;
    position: absolute;
    backface-visibility: hidden;
}

.killer {
    transform: rotateY(180deg);
    z-index: 90;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.arrow {
    filter: invert(1);
    width: 15px;
    height: 15px;
    cursor: pointer;
    align-self: flex-end;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 25px;
}
.aileen {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.brenda {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.zodiac {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.sada {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.myra {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.slivko {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.charles {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.ed {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.jeff {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.ted {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

.random-facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    height: 100%;
    z-index: -100;
    padding: 5%;
    margin-bottom: 10%;
    border: solid 1px #000000;
    border-radius: 25px;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(201, 10, 10);
    background-color: #646464;
    font-size: 25px;
    box-shadow: inset 3px 3px 3px 3px rgb(53, 53, 53), 3px 3px 3px 3px rgba(66, 66, 66, 0.5);
    opacity: 0;
    transition: 2s;
    position: relative;
}

.random-facts.open {
    opacity: 1;
    z-index: 100;
    
}

.facts-themselves {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    height: 100%;
    max-height: 380px;
    margin-left: 35%;
    padding: 1%;
    z-index: 70;
    border: solid 1px #000000;
    border-radius: 25px;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px  #992121;
    background-color: #646464;
    font-size: 15px;
    box-shadow: inset 3px 3px 3px 3px rgb(53, 53, 53), 3px 3px 3px 3px rgba(66, 66, 66, 0.5);
    opacity: 0;
    transition: 2s;
    position: absolute;
}

.facts-themselves.open {
    opacity: 1;
    
}


.win {
    width: 250px;
    height: 70px;
    z-index: 100;
    padding: 5%;
    margin-bottom: 10%;
    border: solid 1px #000000;
    border-radius: 25px;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(201, 10, 10);
    background-color: #646464;
    font-size: 15px;
    box-shadow: inset 3px 3px 3px 3px rgb(53, 53, 53), 3px 3px 3px 3px rgba(66, 66, 66, 0.5);
    opacity: 0;
    transition: 2s;
}

.win.open {
    opacity: 1;
    
}

.counter {
    width: 230px;
    height: 100px;
    z-index: 100;
    padding: 2%;
    padding-left: 4%;
    margin-top: 5%;
    margin-bottom: 10%;
    border: solid 1px #000000;
    border-radius: 25px;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(201, 10, 10);
    background-color: #646464;
    font-size: 15px;
    box-shadow: inset 3px 3px 3px 3px rgb(53, 53, 53), 3px 3px 3px 3px rgba(66, 66, 66, 0.5);
    opacity: 0;
    transition: 2s;
}

.counter.open {
    opacity: 1;
    transition: 2s;    
}

.play-again {
    z-index: -100;
    border: solid 1px #000000;
    height: 80px;
    width: 150px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(201, 10, 10);
    -webkit-text-stroke: 1px  #000000;
    background-color: #646464;
    font-size: 25px;
    box-shadow: inset 3px 3px 3px 3px rgb(177, 177, 177), 3px 3px 3px 3px rgba(66, 66, 66, 0.5);
    cursor: default;
    opacity: 0;
    transition: 2s;
    position: absolute;
}

.play-again.open {
    opacity: 1;
    cursor: pointer;
    z-index: 100;
}

.button {
    z-index: 100;
    border: solid 1px #000000;
    height: 80px;
    width: 150px;
    margin-right: 12%;
    border-radius: 25px;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(201, 10, 10);
    -webkit-text-stroke: 1px  #000000;
    background-color: #646464;
    font-size: 25px;
    box-shadow: inset 3px 3px 3px 3px rgb(177, 177, 177), 3px 3px 3px 3px rgba(66, 66, 66, 0.5);
    cursor: pointer;
    opacity: 1;
    transition: 2s;
}

.button.clicked {
    box-shadow: inset 3px 3px 3px 3px rgb(0, 0, 0);
    opacity: 0;
    z-index: -100;
    cursor: default;
}

.button-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    
}

.button-container.clicked {
    z-index: -100;
}

.another-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    min-width: 250px;
    height: 100%;
    max-height: 550px;
    z-index: -100;
    position: absolute;
    padding-left: 10%;
    margin-top: 10%;
    
}

.another-buttons-container.open {
    z-index: 100;
    position: absolute;
}

.wrap {
    margin-bottom: 10px;
    
}


.footer {
    background-color: transparent;
    min-width: 100%;
    height: 10%;
    display: flex;
    padding-left: 4%;
    padding-right: 10%;
    align-items: center;
    
    
               
}

.year-git {
    text-align: center;
    display: flex;
    margin-left: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    justify-content: center;
    color: #000000;
       
}

.copyright {
    margin-right: 10%;
        
}

.year {
    margin-right: 40%;
}

.rolling {
    z-index: 4;
    padding-top: 7px;
    margin-right: 75%;
    background-color: transparent;
    min-height: 20px;
    min-width: 100px;
    position: relative;
}

#rs {
    height: 30px;
    cursor: pointer;
}

.music {
    z-index: -100;
    position: absolute;
    visibility: hidden;
}