* {
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: crimson;
}
/* html,body{
    margin:0;
    padding:0;
    height: 100%;
    z-index: -100;
} */

html, main {
    height: 95%;
}

.backgrd {
    margin: 0;
    overflow: hidden;
    z-index: -10;
    height: 100%;
    width: 100%;
    position: absolute;
    
} 

.player-main {
    position: absolute;
    height: 365px;
    width: 255px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 0 20px #82d11b;
    overflow: hidden;
    z-index: 10;
}

.player-main.active {
    box-shadow: 0 0 40px #82d11b;
}

.player-main.lotl {
    box-shadow: 0 0 20px #ad0000;
    
}
.player-main.lotl.active {
    box-shadow: 0 0 40px #ad0000;
}
.bg {
    width: 100%;
    height: 69%;
    align-content: center;
}
#gir-bg {
    width: 100%;
    height: auto;
}

.player-functional {
    width: 100%;
    min-height: 30%;
    background-image: -webkit-linear-gradient(45deg, rgb(75, 15, 67), rgb(130, 209, 27));
    color: #92ff05;
    padding-top: 6px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: 2s;       
}

.player-functional:link {
    background-image: -webkit-linear-gradient(45deg, rgb(15, 75, 72), rgb(159, 255, 32));
    color: #82d11b;
    transition: 2s;      
}
.player-functional:visited {
    background-image: -webkit-linear-gradient(45deg, rgb(75, 15, 67), rgb(130, 209, 27));
    color: #82d11b;
    transition: 2s;      
}

.eng:focus {
    background-image: -webkit-linear-gradient(45deg, rgb(75, 15, 67), rgb(130, 209, 27));
    color: #82d11b; 
    transition: 2s;
}
.player-functional:hover {
    background-image: -webkit-linear-gradient(45deg, rgb(15, 75, 72), rgb(159, 255, 32));
    color: #4B0F43;
    transition: 2s;
          
}

.player-functional:active {
    background-image: -webkit-linear-gradient(45deg, rgb(15, 75, 72), rgb(159, 255, 32));
    color: #4B0F43;
    transition: 2s;
          
}

.player-functional.lotl {
    background-image: -webkit-linear-gradient(45deg, rgb(50, 206, 198), rgb(151, 31, 31));
    color: #05ffff;
    
}

.player-functional.lotl:hover {
    background-image: -webkit-linear-gradient(45deg, rgb(10, 43, 65), rgb(151, 31, 31));
    color: #fd0000;
    transition: 2s;
          
}

.player-functional.lotl:active {
    background-image: -webkit-linear-gradient(45deg, rgb(50, 206, 198), rgb(151, 31, 31));
    color: #ad0000;
    transition: 2s;
          
}

.play {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    transition: 2s;
    cursor: pointer;
}

#playStop {
    width: 50px;
    height: 50px;
    filter: invert(1);
    cursor: pointer;
    transition: 2s;
}

.artistSong {
    font-family: 'Rowdies', serif;
    margin-left: 5%;
    margin-right: 5%;
    
}

@keyframes color-change {
    0% {
        color: #82d11b;
    }
    50% {
        color: #4B0F43;
    }

    100% {
        color: #82d11b;
    }
}

.artistSong.anime {
    animation: color-change 0.3s infinite;
}

.artistSong.lotl {
    font-family: 'Rowdies', serif;
    margin-left: 5%;
    margin-right: 5%;
    
}

@keyframes color-change2 {
    0% {
        color: #05ffff;
    }
    50% {
        color: #ad0000;
    }

    100% {
        color: #05ffff;
    }
}

.artistSong.lotl.anime {
    animation: color-change2 1.5s infinite;
}

.artist {
   
    font-size: 20px;
    font-weight: 700;
   
}


.song {
    
    font-size: 15px;
    font-weight: 300;
   
    
}

.next-prev {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 25px;
    margin-right: 5%;
}

#next {
    width: 25px;
    height: 25px;
    filter: invert(1);
    cursor: pointer;
}

#back {
    width: 25px;
    height: 25px;
    filter: invert(1);
    cursor: pointer;
}

.bar {
    display:flex;
    flex-direction: column;
    padding: 5px;
    min-width: 100%;
}
.durationTime {
    margin-left: 83%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #4B0F43;
    padding: 3px;
}

.durationTime.lotl {
    color: #05ffff;
}

#play-bar {
    appearance: none;
    background: #000000;
    height: 5px;
    width: 96%;
    cursor: pointer;
    border-radius: 30px;

}

.currentTime {
    margin-left: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #82d11b;
    padding: 3px;
    margin-bottom: 3px;
}

.currentTime.lotl {
    color: #ad0000;
}
.footer {
    background-color: transparent;
    min-width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    
}

.year-git {
    text-align: center;
    display: flex;
    margin-right: 7%;
    
}

.copyright {
    margin-right: 10%;
        
}

.year {
    margin-right: 40%;
}